* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  justify-content: space-around;
  display: flex;
  padding: 15px;
}
.imagen {
  width: 12px;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.info{
  text-align: center;
  margin-bottom: 10px;
}
.logotipos {
   list-style: none;
  display: flex;
  align-items: center;
}
.search-bar {
  align-items: end;
  display: inline-flex;
}
.submenu {
  margin-top: -10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: x-small;
}
.navegacion-centro {
  display: inline-block;
  margin-top: center;
  text-decoration: none;
  text-transform: uppercase;
}
.desplegable {
  position: fixed;
  text-align: left;
  font-size: small;
}
.promociones {
  color: red;
}
.div-padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.div-hijo {
  margin: 25px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .img {
    width: 60%;
    display: flex;
  }
 
.litswrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  list-style: none;
  display: flex;
}
.list {
  border-bottom: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: black;
  list-style: none;
  margin: auto;
}
.descuento {
  width: 100%;
  position:center;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
  border-width: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.text-descuento {
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.text-descuento input{
  border-bottom-style: none;
  border-bottom-color: transparent;
}
.contacto {
  display: flex;
  justify-content: center;
  margin-top: 50px;
 border-top: grey;
  margin-left: auto;
  margin-right: auto;
}
.movil{
  width:12px;
  }
  .telefono{
    color: aquamarine;
    display: flex ;
    font-size: x-small;
    justify-content: center;
  }
    .venta{
    color: black;
  }
  .texto-contacto{
    display: flex;
    justify-content: space-around;
    font-size: x-small;
    color: black;
  }
  
.footer {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: xx-small;
}
.link {
  list-style: none; 
  display: inline-block;
  align-items: center;
}
.metodos-pago{
  margin-left: 50px;
  list-style: none; 
  display: inline-block;
  align-items: center;
}
.footer2{
  margin-top: 35px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  font-size: xx-small;
}
.main{
  list-style: none;
  display: inline-block;
  justify-content:space-around;
  }
.icono{
  width: 10px;
}