
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}.header{
    background-color: blanchedalmond;
    justify-content: space-around;
    display: flex;
    padding: 15px;
}
.imagen{
    width: 12px;
    align-items: center;
    justify-content:space-between;
    display: flex;
   }
.logotipos{
    font-display: flex;
    list-style: none;
    display: inline-flex;
}
.search-bar{
    align-items: end;
    display: inline-flex;
}
.submenu{
    margin-top: -10px;
    justify-content: space-around;
    background-color:cadetblue;
    display: flex;
    align-items: center;
    padding: 10px;
   font-size: x-small;
}
.navegacion-centro{
    display: inline-block;
    margin-top: center;
    text-decoration: none;
    text-transform: uppercase;
}
.desplegable{
    position: fixed;
text-align: left;
font-size: small;
}
.promociones{
    color:red;
}
.div-padre{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div-hijo{
    text-align: center;
    margin: 25px;
    width: 300px;
    height: 320px;
    justify-content: space-between;
    .img{
    text-align:center;
    margin:25px;
    width: 200px;
    height: 250px;
    display: block;
    height: 100%;
}
}
.info{
    display: flexbox;
    list-style: none;
    width: auto;
    margin-top: 250px;
}
.litswrapper{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    list-style: none;
    display: flex;
}
.list{
    border-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: black;
    list-style: none;
    margin:auto;

}
.descuento{
    display: inline-block;
    margin-block: 350px;
    box-shadow: antiquewhite;
    padding: 0;}

 .text-descuento{
    display:inline-flexbox;
    align-items: center;
    width: 100%;
}
    
   .input{
    background-color: transparent;
    padding: 14px;
    outline: none;
    margin-bottom: 15px;
   }

.footer{
    box-sizing: border-box;
    text-decoration: none;
    padding: 100px 0 50px 0;
}
.container{
    max-width: 100px;
    margin:auto;
}
.footer-link{
display: flex;
}
.link li{
    font-size: 11px;
    margin: top 15px;
    text-transform: uppercase;
   margin-bottom: 20px;
   display: block;
}
link h2{
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
   
}